header {
  background-color: $color-1;
  padding: 12px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin: 30px 30px;
  }

  @media screen and (min-width: 1024px) {
    margin: 30px 50px;
  }

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    @media screen and (min-width: 768px) {
      width: 60px;
      height: 60px;
    }

  } 

  ul {
    display: flex;

    li{
      padding: 4px;

      @media screen and (min-width: 1024px) {
        padding: 10px;
      }
    }

    @media screen and (min-width: 768px) {
      li:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease;
        background-color: #ffffff7d;
        transition: background-color 0.2s ease;
        border-radius: 5px;
      }
    }


    a {
      font-size: 11px;
      cursor: default;

      @media screen and (min-width: 768px) {
        font-size: 14px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}