$color-1: #DDD0C8;
$color-2: #301004;
$white: #ffffff; 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $color-2;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-2;
}

