* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #301004;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #301004;
}

header {
  background-color: #DDD0C8;
  padding: 12px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  header {
    margin: 30px 30px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    margin: 30px 50px;
  }
}
header .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  header .logo {
    width: 60px;
    height: 60px;
  }
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header ul li {
  padding: 4px;
}
@media screen and (min-width: 1024px) {
  header ul li {
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  header ul li:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    background-color: rgba(255, 255, 255, 0.4901960784);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    border-radius: 5px;
  }
}
header ul a {
  font-size: 11px;
  cursor: default;
}
@media screen and (min-width: 768px) {
  header ul a {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  header ul a {
    font-size: 18px;
  }
}

#home {
  width: 100%;
  height: 280px;
  padding: 0 20px;
  background: linear-gradient(140deg, #DDD0C8 40%, rgba(138, 114, 99, 0.9254901961));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home h1 {
  color: #301004;
  font-size: 28px;
  line-height: 2;
}

#about {
  background-color: #301004;
}
@media screen and (min-width: 768px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#about .photo {
  width: 100%;
}
#about .photo img {
  width: 100%;
}
#about .about-me {
  padding: 10px 20px;
}
#about .about-me h2 {
  color: #ffffff;
}
#about .about-me p {
  margin-top: 10px;
  line-height: 1.4;
  color: #ffffff;
}

#contact {
  padding: 15px 20px;
  background-color: #DDD0C8;
}
#contact form {
  margin: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact form label {
  font-size: 14px;
}
#contact form input {
  height: 25px;
}
#contact form input, #contact form textarea {
  margin: 4px 0 12px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #bca99f;
          box-shadow: 1px 1px 5px #bca99f;
}
#contact form button[type=submit] {
  width: 80%;
  padding: 10px;
  margin: 8px auto;
  border-radius: 20px;
  border: none;
  background-color: #301004;
  color: #ffffff;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */