#about {
  background-color: $color-1;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  
  .photo {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .about-me {
    padding: 10px 20px;

    p {
      margin-top: 10px;
      line-height: 1.4;
    }
  }
}