#home {
  width: 100%;
  height: 280px;
  padding: 0 20px;
  background: linear-gradient(to bottom, #301004, #30100493);
  display: flex;
  align-items: center;

  h1 {
    color: $white; 
    font-size: 28px;
    line-height: 2;
  }
}