#skills {
  width: 100%;
  padding: 10px 20px;
  background-color: $color-2;

  h2 {
    color: $white;
  }

  .button-stack {
    display: flex;

    button {
      width: 100px;
    }
  }

  .hard-skills {
    margin: 12px 0;
    padding: 20px;
    background: #a7867c;
    border-radius: 10px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;

    img {
      height: 50px;
    }
  }
}