@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  /* background-color: #562716; */
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 800;
}

h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 600;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
}

input, textarea {
  margin: 4px 0 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #bca99f
}

input {
  height: 32px;
}

button[type=submit] {
  width: 80%;
  padding: 10px;
  margin: 8px auto;
  border-radius: 20px;
  border: none;
  background-color: #301004;
  color: #ffffff;
  font-weight: 600;
}